<mat-toolbar class="header mat-elevation-z5">
  <span class="tittle-group2">
    Maps Empregos
     
 </span>
  <button mat-button routerLink="home">
    <mat-icon>home</mat-icon>
    Página inicial
  </button>

  <button mat-button routerLink="profile">
    
    <mat-icon >person</mat-icon>
    Perfil

</button>

<button mat-button routerLink="curriculo">
    <mat-icon>feed</mat-icon> 
     Currículo
</button>

<button mat-button>
  <mat-icon>search</mat-icon> 
   Vagas
</button>

<span class="example-spacer"></span>

<button mat-button routerLink="login">
  <mat-icon>account_circle</mat-icon> 
   Login/Cadastro
</button>

<!--<button mat-button routerLink="cadastro">
  <mat-icon>person_add</mat-icon> 
   Cadastro
</button>-->

</mat-toolbar>
