.header{
    display: flex;
    background-color: #6495ED;
    align-items: center;
    position: fixed;
    z-index: 99;   
}

.header .tittle-group2{
    
    padding-right: 0px;
    font-family: fantasy;
    
}

.example-spacer {
    flex: 11 auto;
}

.icon-search{
    margin-left: 7%;
    margin-top: 16%;
}

.btn{
    height: 60%;
    width: 3%;
    /* justify-content: center; */
    padding: 0;
    align-content: center;
    background-color: black;
    border-color: black;
}

.form-outline{
    margin-left: 3%;
}

.menu-flutuante{
    width: 180px;
    height: 200px;
    background-color: #73a1f5;
    position: absolute;
    z-index: 2;
    /* float: right; */
    right: 0%;
    /*top: 0.9%;*/
    margin-top: 4.5%;
    padding: 2% 1% 1% 1%;
}

.btnBot{
    margin-top: 5% !important;
}

.form-outline{
    width: 30% !important;
}
