.header{
    display: flex;
    background-color: #6495ED;
    align-items: center;
    
    
}


.header a{
    display: flex;
    align-items: center;
    font-size: medium;
    
}

.header .tittle-group {
    padding-left: 25px;
    font-weight: 400;
    
    
      
}

.header .tittle-group2{
    
    padding-right: 0px;
    font-family: fantasy;
    
}



