.header{
    display: flex;
    vertical-align: middle;
    background-color: #6495ED;
    
    
}

.header .title-group{
    padding-left: 5px;
    padding-right: 5px;
     
    
}

.header span{
    font-size: medium;
}