<mat-toolbar class="header mat-elevation-z5">
    <span class="tittle-group2">
        Maps Empregos
         
     </span>
    
    <section >
        
        <div class="example-button-row">
           
          <button mat-button routerLink="inicio">
            <mat-icon>home</mat-icon>
            Página inicial
          </button>

          <button mat-button routerLink="perfil">
            
            <mat-icon >person</mat-icon>
            Perfil
        
        </button>

          <button mat-button>
            <mat-icon>search</mat-icon> 
             Vagas
        </button>
        
        <button mat-button>
            <mat-icon>feed</mat-icon> 
             Currículo
        </button>

        
        </div>
      
        
       
      </section>

      
</mat-toolbar>


 