<mat-toolbar class="header mat-elevation-z5">

<span class="tittle-group2">
   Maps Empregos
    
</span>


<span class="tittle-group">
    <a>
        <i class="material-icons">
           home
        </i>
        Página inicial
    </a>   
</span>

<span class="tittle-group">
    
    <a>
        <i class="material-icons">
           person
        </i>
        Perfil
    </a> 
    
</span>


<span class="tittle-group">
    
    <a>
        <i class="material-icons">
           search
        </i>
        Vagas
    </a> 
    
</span>
<span class="tittle-group">
    
    <a>
        <i class="material-icons">
           notifications
        </i>
        notificações
    </a> 
    
</span>


   
</mat-toolbar>

