.opcoes{
    padding: 0;
    margin-right: 5%;
    height: max-content;
}

.list-item{
    border: 1px solid #999;
    cursor: pointer;
    max-width: 270px !important;
    width: unset !important;
}

.list-border{
    color: #000;
    border-left: 5px solid #0074e4;
}

.icon-style{
    margin-right: 2%;
}

.login-wrapper {
    /*max-height: 100%;*/
    /*justify-content: center;*/
    display: flex;
    padding-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15%;
  }


  .positronx {
    text-decoration: none;
    color: #ffffff;
  }
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    /*padding: 60px 50px 40px 50px;*/
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
    margin: auto;
    padding: 40px 50px;
    width: max-content;
    /* width: 700px; */
    padding-left: 5%;
    padding-right: 30%;
  }
  .box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }
  .box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
  }
  .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
 .example-full-width, .btn-block {
    width: 100%;
  }
  .mat-card-header-class {
    display: block;
    font-weight: 700;
    width: 500px;
    text-align: left;
    margin-left: -15px;
    
  }
  .mat-card-title-class {
    font-size: 20px;
    margin: 0;
  }
 .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
  }
.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }

.label-intermed{
    margin-bottom: 5%;
    margin-top: 5%;
    width: 500px;
}