<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="opcoes">
        <mat-card-content>
            <mat-list style="padding: 0;">
                <mat-list-item class="list-item" (click)="flag='settings'" [ngClass]="flag=='settings' ? 'list-border' : ''"><mat-icon class="icon-style">person</mat-icon>CONFIGURAÇÕES DE CONTA</mat-list-item>
                <mat-list-item class="list-item" (click)="flag='security'" [ngClass]="flag=='security' ? 'list-border' : ''"><mat-icon class="icon-style">vpn_key</mat-icon>SENHA E SEGURANÇA </mat-list-item>
                <mat-list-item class="list-item" (click)="flag='conecct'" [ngClass]="flag=='conecct' ? 'list-border' : ''"><mat-icon class="icon-style">device_hub</mat-icon>CONEXÕES </mat-list-item>
               </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="box" *ngIf="flag=='settings'">
        <mat-card-header class="mat-card-header-class">
          <mat-card-title class="mat-card-title-class">CONFIGURAÇÕES DE CONTA</mat-card-title>
        </mat-card-header>

        <p class="label-intermed">Gerenciamento dos detalhes da conta.</p>

        <mat-card-title class="mat-card-title-class" style="margin-bottom: 3%;">INFORMAÇÕES DA CONTA</mat-card-title>

        <div style="display:flex;">
            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="user" matInput placeholder="Usuário" [(ngModel)]="objUserPerfil.userName">
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="email" matInput placeholder="Email" [(ngModel)]="objUserPerfil.userEmail" >
            </mat-form-field>
        </div>

        <mat-card-header class="mat-card-header-class">
            <mat-card-title class="mat-card-title-class">DETALHES PESSOAIS</mat-card-title>
        </mat-card-header>

        <p class="label-intermed">Gerenciamento das informações pessoais da conta.
            Essas informações são pessoais e serão exibidas apenas para o dona da conta.</p>

        <div style="display:flex;">
            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="name" matInput placeholder="Nome">
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="secondname" matInput placeholder="Sobrenome" >
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <mat-select [(value)]="idiomaValue">
                    <mat-option *ngFor="let idioma of idiomas" [value]="idioma.value">
                      {{idioma.viewValue}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
        </div>



        <mat-card-header class="mat-card-header-class">
            <mat-card-title class="mat-card-title-class">ENDEREÇO</mat-card-title>
        </mat-card-header>

        <div style="display:flex;">
            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="endereco" matInput placeholder="Endereço">
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="city" matInput placeholder="Cidade" >
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="uf" matInput placeholder="Estado" >
            </mat-form-field>
        </div>

        <div style="display:flex;">
            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="cep" matInput placeholder="Cep" >
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="comlemento" matInput placeholder="Complemento" >
            </mat-form-field>

            <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="Bairro" matInput placeholder="Bairro" >
            </mat-form-field>
        </div>

        <mat-card-header class="mat-card-header-class">
            <mat-card-title class="mat-card-title-class">PAÍS/REGIÃO</mat-card-title>
        </mat-card-header>

        <mat-form-field class="example-full-width" style="margin-right: 5%; width: 580px !important;">
            <input type="text" id="pais" matInput placeholder="PAÍS/REGIÃO" >
        </mat-form-field>

        <button mat-stroked-button color="accent" class="btn-block">DESCARTAR MUDANÇAS</button>

        <button mat-stroked-button color="accent" class="btn-block" style="background-color:blue; margin-top: 5%; border-color: blue;" (click)="enviarAlteracoesInfo()"><span style="color:white;">SALVAR MUDANÇAS</span></button>
      </mat-card>

    <mat-card class="box" *ngIf="flag=='security'">
      <mat-card-header class="mat-card-header-class">
        <mat-card-title class="mat-card-title-class">ALTERAR SENHA</mat-card-title>
      </mat-card-header>

      <p class="label-intermed">Para sua segurança, recomendamos o uso de uma senha única, que não seja usada para nenhuma outra conta on-line.</p>

      <div class="container" style="width: max-content;"> 
        <div class="row" style="display:flex;">
          <div class="col-md-4">
            <form class="example-form" [formGroup]="formularioSenha">
              <mat-card-header class="mat-card-header-class title-form">
                <mat-card-title class="mat-card-title-class">SENHA ATUAL</mat-card-title>
              </mat-card-header>
              <p class="label-form">OBRIGATÓRIO</p>
  
              <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="password" matInput placeholder="SENHA ATUAL" formControlName="password">
              </mat-form-field>
  
              <mat-card-header class="mat-card-header-class title-form">
                <mat-card-title class="mat-card-title-class">NOVA SENHA</mat-card-title>
              </mat-card-header>
              <p class="label-form">OBRIGATÓRIO</p>
  
              <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="newPassword" matInput placeholder="NOVA SENHA" formControlName="newPassword">
              </mat-form-field>
  
  
              <mat-card-header class="mat-card-header-class title-form">
                <mat-card-title class="mat-card-title-class">DIGITE A NOVA SENHA NOVAMENTE</mat-card-title>
              </mat-card-header>
              <p class="label-form">OBRIGATÓRIO</p>
  
              <mat-form-field class="example-full-width" style="margin-right: 5%;">
                <input type="text" id="newPasswordAgain" matInput placeholder="DIGITE A NOVA SENHA NOVAMENTE" formControlName="newPasswordAgain">
              </mat-form-field>
            </form>
          </div>
          <div id="linha-vertical"></div>
          <div class="col-md-4">
            <mat-card-header class="mat-card-header-class title-form">
              <mat-card-title class="mat-card-title-class">SUA SENHA</mat-card-title>
            </mat-card-header>
            <div>
              <p>Sua senha precisa ser diferente das últimas 5 senhas usadas</p>
              <p>Sua senha precisa ter mais de 7 caracteres</p>
              <p>Sua senha precisa ter pelo menos um número</p>
              <p>Sua senha não pode conter espaços</p>
            </div>
          </div>
        </div>
      </div>

      <div class="btnDiv">
        <button mat-stroked-button color="accent" class="btn-block" (click)="formularioSenha.reset()">DESCARTAR MUDANÇAS</button>
        <button mat-stroked-button color="accent" class="btn-block" style="background-color:blue; margin-top: 5%; border-color: blue;" [disabled]="!formularioSenha.valid" (click)="onsubmit()"><span style="color:white;">SALVAR MUDANÇAS</span></button>
      </div>
    </mat-card>
  </div>


<!--<form style="padding-top: 10%;">
<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" placeholder="Digite seu nome completo" required />
</div>
<div class="form-group">
    <label for="Email">E-mail</label>
    <input type="text" id="email" placeholder="Digite seu endereço de email" required />

</div>

<div class="form-group">
    <label for="Celular">Celular</label>
    <input type="text" id="celular" placeholder="Digite seu número de telefone para contato" required />

</div>

<div class="form-group">
    <label for="CPF">CPF</label>
    <input type="text" id="cpf" placeholder="Digite seu CPF" required />


</div>

<div class="form-group" >
    <label for="Endereço">Endereço</label>
    <input type="text" id="endereco" placeholder="Digite seu endereço" required />

</div>

<input type="submit" />

</form>-->
