<mat-grid-list cols="2" rowHeight="2:1" style="padding-bottom: 100px !important; padding-top: 10% !important;">
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    <mat-grid-tile>AAAAAAAAA</mat-grid-tile>
    <mat-grid-tile>BBBBBBBBB</mat-grid-tile>
    <mat-grid-tile>CCCCCCCCCCC</mat-grid-tile>
    <mat-grid-tile>DDDDDDDDDD</mat-grid-tile>
    
  </mat-grid-list>
 
  
  