<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="opcoes">
    <mat-card-content>
      <mat-list style="padding: 0;">
        <mat-list-item class="list-item" (click)="flag='settings'" [ngClass]="flag=='settings' ? 'list-border' : ''">
          <mat-icon class="icon-style">book</mat-icon>VER CURRICULO
        </mat-list-item>
        <mat-list-item class="list-item" (click)="flag='security'" [ngClass]="flag=='security' ? 'list-border' : ''">
          <mat-icon class="icon-style">school</mat-icon>DADOS ACADEMICOS
        </mat-list-item>
        <mat-list-item class="list-item" (click)="flag='conecct'" [ngClass]="flag=='conecct' ? 'list-border' : ''">
          <mat-icon class="icon-style">business</mat-icon>DADOS PROFISSIONAIS
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="box" *ngIf="flag=='settings'">
    <mat-card-header class="mat-card-header-class">
      <h1>{{objUserPerfil.nome}} {{objUserPerfil.sobrenome}}</h1>
      <p style="margin-left: 5%;"> Endereço: {{objUserPerfil.endereco}}, {{objUserPerfil.complemento}},
        {{objUserPerfil.bairro}}, {{objUserPerfil.cidade}} - {{objUserPerfil.uf}} - {{objUserPerfil.pais}}</p>
      <h3>CONTATO </h3>
      <p style="margin-left: 5%;">Email: {{objUserPerfil.email}}</p>
      <p style="margin-left: 5%;">Telefone: {{objUserPerfil.telefone}}</p>
    </mat-card-header>

    <mat-card-title class="mat-card-title-class" style="margin-bottom: 3%;">INFORMAÇÕES ACADEMICAS</mat-card-title>
    <app-informacao-component [campo]="'academicas'" [flagDisabled]="true" *ngFor="let info of informacao"
      [informacao]="info"></app-informacao-component>

    <app-informacao-component [campo]="'academicas'" [flagDisabled]="true" *ngFor="let info of informacao"
      [informacao]="info"></app-informacao-component>


    <mat-card-header class="mat-card-header-class">
      <mat-card-title class="mat-card-title-class">EXPERIENCIA PROFISSIONAIS</mat-card-title>
    </mat-card-header>

    <app-informacao-component [campo]="'profissionais'" [flagDisabled]="true" *ngFor="let info of informacao"
      [informacao]="info"></app-informacao-component>

    <app-informacao-component [campo]="'profissionais'" [flagDisabled]="true" *ngFor="let info of informacao"
      [informacao]="info"></app-informacao-component>
  </mat-card>


  <mat-card class="box" *ngIf="flag=='security'">
    <mat-card-header class="mat-card-header-class">

      <mat-card-title class="mat-card-title-class">DADOS ACADEMICOS</mat-card-title>

    </mat-card-header>


    <p class="label-intermed">Insira seus dados academicos para que possam ser atribuidos a seu curriculo.</p>

    <div class="container" style="width: max-content;">
      <div class="row" style="display:flex;">
        <div class="col-md-4">

          <app-informacao-component [campo]="'academicas'" [flagDisabled]="false" *ngFor="let info of informacao"
            [informacao]="info"></app-informacao-component>


      
          <div class="btnDiv">
            <button mat-stroked-button color="accent" class="btn-block" (click)="formularioSenha.reset()">DESCARTAR
              MUDANÇAS</button>
            <button mat-stroked-button color="accent" class="btn-block"
              style="background-color:blue; margin-top: 5%; border-color: blue;" [disabled]="!formularioSenha.valid"
              (click)="onsubmit()"><span style="color:white;">SALVAR MUDANÇAS</span></button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="box" *ngIf="flag=='conecct'">
    <mat-card-header class="mat-card-header-class">
      <mat-card-title class="mat-card-title-class">DADOS PROFISSIONAIS</mat-card-title>
    </mat-card-header>

    <p class="label-intermed">Insira seus dados profissionais para que possam ser atribuidos a seu curriculo.</p>

    <div class="container" style="width: max-content;">
      <div class="row" style="display:flex;">
        <div class="col-md-4">

          <app-informacao-component [campo]="'profissionais'" [flagDisabled]="false" *ngFor="let info of informacao"
            [informacao]="info"></app-informacao-component>


          <div class="btnDiv">
            <button mat-stroked-button color="accent" class="btn-block" (click)="formularioSenha.reset()">DESCARTAR
              MUDANÇAS</button>
            <button mat-stroked-button color="accent" class="btn-block"
              style="background-color:blue; margin-top: 5%; border-color: blue;" [disabled]="!formularioSenha.valid"
              (click)="onsubmit()"><span style="color:white;">SALVAR
                MUDANÇAS</span></button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>